<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">

    <!-- horizontal -->
    <div class="row">
        <!-- vertical -->
        <div class="col-md-6">

            <div class="container">
                <div class="row">
                    <h2>{{ include.event_data.event_info.name }}</h2>
                </div>

                <div class="row">
                    <h4>{{ include.event_data.event_info.date }}</h4>
                </div>

                <div class="row">
                    <h4>{{ include.event_data.event_info.time }}</h4>
                </div>

                <div class="row">
                    <h4>{{ include.event_data.event_info.location.name }}</h4>
                </div>

            </div>

        </div>

        <!-- div for logo -->
        <div class="col-sm-6">
            <img src="{{ include.event_data.assets_links.logo.uri }}" alt="event logo" style="width: 250px;"/>
        </div>

    </div>

</div>