---
layout: default
---

{% assign event_data = nil %}
{% for event_data_fold in site.data.event_datas %}
  {% assign event_data_item = event_data_fold[1] %}

  {% if event_data_item.event_info.uid == page.event_uid %}

    {% assign event_data = event_data_item %}

    {% break %}
  {% endif %}
{% endfor %}

{% if event_data == nil %}
  {% include event_404.html %}
{% else %}

{% include theme_bg.html bg_url=event_data.asset_links.bg.imgs._1 %}

{% include event_landing_page.html event_data=event_data %}

<hr>

{% include event_schedule_page.html event_data=event_data %}

<hr>

{% include google_map.html event_data=event_data %}

{% endif %}
